
*{
    padding: 0;
    margin: 0;
    -webkit-user-select:none;
}
.pd1MainContainer{
    margin-left: 5px;
    width: 100%;
    height: 91vh;
    
}
.pd1Grid{
    display: grid;
    grid-template-columns: 910px 270px;
    grid-template-rows: 60% 40%;
    grid-template-areas:
    "area1 area2"
    "area1 .";
    height: 100%;
    column-gap: 15px;

}
.Img{
    width: 26px;
    height: 26px;
}
.IconPanel{
    margin-left: 20px;
    border-radius: 6px;
    background-color: rgb(211, 243, 253);
    width: 30px;
    height: 30px;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
}
.IconLabel{
    margin-left: 10px;
    min-width: 129px;
    color: whitesmoke;
    font-size: 21px;
    /* width: 320px; */
    font-weight: 600;
}
.a1row1{
    height: 60px;
    display: flex;
    align-items: center;
}
.a1row2{
    /* background-color: gray; */
    height: 780px;
}
.area1{
    grid-area: area1;
    background-color:  #282d32;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 15px;

}
.area2{
    grid-area: area2;
    background-color:  #282d32;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
    min-width: 250px;
}


.Area2Row1{
    grid-area: a2Area1;
    /* background-color: red; */
    height: 60px;
    display: flex;
    align-items: center;
}
.Area2Row1Rectangle{
    width: 8px;
    height: 30px;
    background-color: #3a78f3;
    border-radius: 5px;
    margin-left: 25px;
}
.Area2Row1Lebal{
    color: whitesmoke;
    /* background-color:rebeccapurple; */
    width: 100px;
    min-width: 100px;
    font-size: 20px;
    /* display: inline-block;
    height: 10px;
    line-height: 10px; */
    height: auto;
    margin-left: 8px;
}






.TableContainer{
    /* display: grid;
    grid-template-areas: "a2a2Title" "a2a2Body";
    grid-template-rows: 45px auto; */
    width: 880px;
    margin-left: 15px;
    /* height: 96%; */
}
.a1row2{
    grid-area: a2Area2;
    /* background-color: gray; */
    
}

.ListTableTitle th{
    color: #6d7c89;
    background-color: #1f2327;
    font-size: 16px;
}
.ListTableBody{
    width: 100%;
}
.ListTableTitle{
    grid-area: a2a2Title;
    
    width: 100%;
    height: 60px;
}
.helpHide{
    grid-area: a2a2Body;
    overflow: scroll;
    height: 700px;
    margin-bottom: 10px;
}
.helpHide::-webkit-scrollbar {display:none}


.MainBtn1{
    background-image: linear-gradient(to bottom right, #363c43, #29323a);
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: 900;
    width: 50px;font-weight: 100;height: 30px;
    margin-left: 450px;
}
.MainBtn1:hover{
    text-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 1);
    background: linear-gradient(to bottom right, #3f4449, #31393f);
}


.Tips{
    color: gray;
    font-size: 14px;
    height: auto;
    min-width: 200px;
    /* position: absolute;
    margin-left: 20px;
    margin-top: 60px; */

}
.ListTableBody td{
    color: #c4cfd6;
    height: 36px;
    
    min-width: 100px;
    justify-content: center;
    text-align: center;
    
}


.Area2Row3{
    width: 100%;
    margin-right: 35px;
    display: flex;
    float: left;
    font-size: 17px;
    color: wheat;
}

.Area2Row2{
    width: 100%;
    margin-right: 35px;
    margin-top: 25px;
    display: flex;
    float: left;
    font-size: 17px;
    color: wheat;
}
.a2r2Input{
    background: transparent;
    border-bottom: 1px solid blanchedalmond;
    border-right: none;
    border-top: none;
    border-left: none;
    outline: none;
    width: 100px;
    color: gray;
    padding-left: 3px;
    padding-top:20px;
    margin-top: -24px;
    font-size: 16px;
    text-align: center;
}

.a2r3Input{
    background: transparent;
    border: none;
    outline: none;
    width: 200px;
    color: gray;
    padding-left: 3px;
    margin-top: 10px;
    font-size: 15px;
    background-color: #23282b;
    box-shadow: 0px 0px 3px 3px #24292c;
    vertical-align: center;
    height: 40px;
}
.a2InputArea{
    width: 400px;
    min-width: 400px;
    height: 120px;
    margin-left: 30px;
    /* background-image: linear-gradient(to bottom right, #363c43, #29323a); */
    /* box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05);  */
}
.remarksArea{
    background-color: #282d3273;
    /* box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.15); */
    border: rgba(0, 0, 0, 0.5);
    width: 200px;
    height: 100px;
    margin-top: 10px;
    font-size: 15px;
    color: gray;
    resize: none;
    outline: none;
}
.Area2Row4{
    width: 200px;
    margin-top: 25px;
    float: left;
    font-size: 17px;
    color: wheat;
    
    display: flex;
    justify-content: center;
}
.Area2Row5{
    width: 100%;
    margin-top: 25px;
    float: left;
    font-size: 17px;
    color: wheat;
    display: flex;
}
.a2Btn{

    background-image: linear-gradient(to bottom right, #363c43, #29323a);
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    width: 110px;
    height: 40px;
    font-size: 18px;
    font-weight: 900;
    justify-content: center;
    align-items: center;
}
.a2Btn0{

    position: absolute;
    background-image: linear-gradient(to bottom right, #363c43, #29323a);
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    width: 27px;
    height: 27px;
    margin-left: 170px;
    margin-top: -5px;
    justify-content: center;
    align-items: center;
}
.a2Btn0:hover,.a2Btn:hover{
    
    text-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 1);
    background: linear-gradient(to bottom right, #3f4449, #31393f);
}
.confirmTips{
    display: flex;
    font-size: 12px;
    width: 40x;
    color: tomato;
}
.confirmVisibility{
    display: flex;
    /* visibility: hidden; */
}