<?xml version="1.0" encoding="GB18030"?>
<SuperMapCache xmlns:sml="http://www.supermap.com/SuperMapCache">
<sml:Version>2.000000</sml:Version>
<sml:NetCachePath/>
<sml:LocalCachePath/>
<sml:CacheName>srtm_57_07@map</sml:CacheName>
<sml:FileExtentName>Terrainz</sml:FileExtentName>
<sml:StoreType>MIXED_FILES</sml:StoreType>
<sml:TileSplitType>GLOBAL</sml:TileSplitType>
<sml:Projection>Geographic</sml:Projection>
<sml:HeightRange>
<sml:MaxHeight>7143.000000</sml:MaxHeight>
<sml:MinHeight>241.000000</sml:MinHeight>
</sml:HeightRange>
<sml:Bounds>
<sml:Left>100.00000000004999</sml:Left>
<sml:Top>29.999999999949999</sml:Top>
<sml:Right>104.99999980005001</sml:Right>
<sml:Bottom>25.000000199950001</sml:Bottom>
</sml:Bounds>
<sml:Level0>
<sml:Level0Width>180.000000000000000</sml:Level0Width>
<sml:Level0Height>180.000000000000000</sml:Level0Height>
</sml:Level0>
<sml:Levels>
<sml:Level>3</sml:Level>
<sml:Level>4</sml:Level>
<sml:Level>5</sml:Level>
<sml:Level>6</sml:Level>
<sml:Level>7</sml:Level>
<sml:Level>8</sml:Level>
<sml:Level>9</sml:Level>
<sml:Level>10</sml:Level>
<sml:Level>11</sml:Level>
</sml:Levels>
<sml:HasSpatialIndex>TRUE</sml:HasSpatialIndex>
<sml:Available>
<sml:TilesBounds level="3">
<sml:TileBounds>
<sml:StartCol>12</sml:StartCol>
<sml:StartRow>5</sml:StartRow>
<sml:EndCol>12</sml:EndCol>
<sml:EndRow>5</sml:EndRow>
</sml:TileBounds>
</sml:TilesBounds>
<sml:TilesBounds level="4">
<sml:TileBounds>
<sml:StartCol>24</sml:StartCol>
<sml:StartRow>10</sml:StartRow>
<sml:EndCol>25</sml:EndCol>
<sml:EndRow>10</sml:EndRow>
</sml:TileBounds>
</sml:TilesBounds>
<sml:TilesBounds level="5">
<sml:TileBounds>
<sml:StartCol>49</sml:StartCol>
<sml:StartRow>20</sml:StartRow>
<sml:EndCol>50</sml:EndCol>
<sml:EndRow>21</sml:EndRow>
</sml:TileBounds>
</sml:TilesBounds>
<sml:TilesBounds level="6">
<sml:TileBounds>
<sml:StartCol>99</sml:StartCol>
<sml:StartRow>40</sml:StartRow>
<sml:EndCol>101</sml:EndCol>
<sml:EndRow>42</sml:EndRow>
</sml:TileBounds>
</sml:TilesBounds>
<sml:TilesBounds level="7">
<sml:TileBounds>
<sml:StartCol>199</sml:StartCol>
<sml:StartRow>81</sml:StartRow>
<sml:EndCol>202</sml:EndCol>
<sml:EndRow>85</sml:EndRow>
</sml:TileBounds>
</sml:TilesBounds>
<sml:TilesBounds level="8">
<sml:TileBounds>
<sml:StartCol>398</sml:StartCol>
<sml:StartRow>163</sml:StartRow>
<sml:EndCol>405</sml:EndCol>
<sml:EndRow>170</sml:EndRow>
</sml:TileBounds>
</sml:TilesBounds>
<sml:TilesBounds level="9">
<sml:TileBounds>
<sml:StartCol>796</sml:StartCol>
<sml:StartRow>327</sml:StartRow>
<sml:EndCol>810</sml:EndCol>
<sml:EndRow>341</sml:EndRow>
</sml:TileBounds>
</sml:TilesBounds>
<sml:TilesBounds level="10">
<sml:TileBounds>
<sml:StartCol>1592</sml:StartCol>
<sml:StartRow>654</sml:StartRow>
<sml:EndCol>1621</sml:EndCol>
<sml:EndRow>682</sml:EndRow>
</sml:TileBounds>
</sml:TilesBounds>
<sml:TilesBounds level="11">
<sml:TileBounds>
<sml:StartCol>3185</sml:StartCol>
<sml:StartRow>1308</sml:StartRow>
<sml:EndCol>3242</sml:EndCol>
<sml:EndRow>1365</sml:EndRow>
</sml:TileBounds>
</sml:TilesBounds>
</sml:Available>
</SuperMapCache>
